/* Calculate */
#calculate {
  max-width: 1080px;
  margin: 0 auto;
}
#calculate h1.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
}
#calculate .hero-body {
  padding-bottom: 1rem;
}

section#calculate h1.title:before {
  content: "";
  position: absolute;
  left: 0;
  z-index: 30;
  bottom: 0;
  height: 3px;
  width: 15%;
  background: #ffd900;
}

#calculate .columns {
  padding: 0 1.5rem;
}
#input-calculate {
  border: 0;
  font-size: 3rem;
  font-weight: 400;
  width: 80%;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  font-family: 'Lato';  
}
#calculate .columns .input-div {
  position: relative;
}
#calculate .columns .input-div #line {
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 30%;
  background-color: #666;
  left: 50%;
  transform: translateX(-50%);
}
#calculate .columns .input-div #clp {
  position: absolute;
  bottom: 1.6rem;
  right: 0;
  font-weight: 400;
  font-size: 1.4rem;
}
.rectangulos {
  margin-top: 3rem;
  padding: 0 2rem;
}
.results {
  position: relative;
}
.bloque {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  border: 1px solid #191919;  
  font-size: 1rem;
  padding: 0.3rem;
  text-align: center;  

  @media (min-width: 768px) {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
.bloque.medio {
  left: 35%;
}
.bloque.resultado {
  left: 70%;
  background-color: #ffd900;
  font-weight: bold;
  border: none;
}
.vs {
  position: absolute;
  left: 32.5%;
  transform: translateX(-50%);
  font-size: 0.5rem;
  @media (min-width: 768px) {
    font-size: 0.8rem;
  }
}
.igual {
  position: absolute;
  left: 67.5%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: bold;
}

.bloque .bloque-title {
  left: 0;
  position: absolute;
  top: -2rem;
  font-size: 0.5rem;
  text-align: center;
  width: 100%;
  color: #00a2ff;

  @media (min-width: 768px) {
    top: -1.2rem;
    font-size: 0.7rem;
  }
}

.bloque .bloque-title.ahorro {
  color: black;
}

.p-ahorrando {
  margin-top: 2rem;
  font-size: 0.8rem;
}
.p-ahorrando span {
  color: #00a2ff;
}
.descripcion {
  position: relative;
}
.descripcion .flecha {
  position: absolute;
  right: -30px;
  top: 3rem;
  width: 30px;  
}
.flecha-resultado {
  padding: 0.5rem 2rem;
  text-align: center;
}

.leyenda {
  font-size: 0.7rem;
  margin: 2rem;
  color: grey;
  text-align: center;
}

#calculate ul li {
  font-size: 0.8rem;
  padding: 0.2rem 1.5rem;

  &:nth-child(1) {
    color: #00a2ff;
  }

  i {
    color: #00a2ff;
  }
}