@import "variables";

#agents .select2 {
  width: 100% !important;
}

#agents-header {
  background-image: url('../images/agents/main_banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .main-title-wrapper {
    padding-top: 4rem;
    padding-left: 2rem;
  }

  h1.title {
    color: black;
    font-size: 1.8rem;
    font-weight: 400;

    &:not(:last-of-type) {
      margin-bottom: 0.3rem;
    }
  }

  .button {
    margin-top: 1rem;
    background-color: transparent;
    border-color: black; /*#ffd900*/
    color: black;

    &:hover {
      border-color: $white;
      background-color: $white;
      color: $grey;
    }
  }

  .img-title {
    height: 7rem;
  }
  
  #arrow-down {
    color: $white;
    font-size: 4rem;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  
}

.agent-list {
  margin: 2rem 1rem !important;
}

.load-more {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 2rem;
  }

  span {
    vertical-align: middle;
    margin-left: 0.5rem;
    color: $primary;
  }
}

.property-list {
  margin: 2rem 1rem !important;
}

.price-slider-wrapper {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.price-range {
  font-size: 0.9rem;
  font-weight: 500;
}

.price-slider-wrapper {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.scoring-range {
  display: flex;
  justify-content: space-between;

  span {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.input {
  border: 1px solid $grey-light;
  height: 2rem;
  font-size: 0.8rem;
}


.vue-numeric-input {
  float: right;

  .numeric-input {
    background-color: $white !important;
    border: 0 !important;
    color: $black !important;
    font-size: 0.9rem !important;
    height: 1rem !important;
    padding-right: 1.3rem !important;
    padding-left: 1.3rem !important;
  }

  .btn-increment,
  .btn-decrement {
    border: 1px solid $black !important;
    border-radius: 100% !important;
    height: 0.9rem !important;
    width: 0.9rem !important;
    background-color: $white !important;
    box-shadow: none !important;
  }
}

#profiles .select2-container {
  display: block;
  width: 100% !important;
}

#profiles .select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 0.9rem;
  border: 2px solid $primary;
  font-style: italic;
  border-radius: 0;
  background-color: $white;
}

#profiles .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  float: right;
  margin-left: 2px;
  color: $black;
}

#profiles .select2-container--default.select2-container--focus .select2-selection--multiple,
#profiles .select2-container--default .select2-selection--multiple {
  border: 1px solid $grey-light;
  border-radius: 0;
}

#profiles .select2-container--default .select2-selection--single {
  border-radius: 0;
  padding: 0;
  height: 2rem;
  font-size: 0.8rem;
  border-color: $grey-light;

  .select2-selection__arrow {
    height: 2rem;

    b {
      border-color: $grey-light transparent transparent transparent;
    }
  }
}

@media (max-width: 768px) {
  .main-title-wrapper {
    margin-left: 25%;
    text-align: right;
  }
}

.title {

  &-basic {
    background-color: rgba($primary, 0.5);
  }

  &-select {
    background-color: rgba($purple, 0.5);
  }

  &-premium {
    background-color: rgba($pink, 0.5);
  }
}